/* GENERAL */
article, aside, figure, footer, header, main, menu, nav, section {
	display: block;
}
*{
	margin: 0; 
	padding: 0;
}
body{
	font: 100%/1.5 Arial;
}
h1, h2{
	font-weight: normal;
}
li{
	list-style: none;
}

/* WRAPPER */
#wrapper{
	width: 1024px; 
	margin: 0 auto;
}

/* HEADER */
header{
	background: #23b6eb; 
	height: 170px; 
	position: relative;
}
.bar{
	background: #5d5a5a; 
	height: 30px;
}	

header h1{
	color: #FFF; 
	position: absolute; 
	left: 200px; 
	top:70px; 
	font-size: 2.75em;
}

/* NAVIGATION */
nav {
	height: 40px;
	background: #BBB;
}
nav ul {
	list-style: none;
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	width: 256px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	line-height: 40px;
}
nav ul li a:hover {
	background: #EEE;
}

	